body  {
	background-color: #C0FFEE;
	font-family: Segoe UI Light;
}

.stats {
	text-align: center;
	width: 100%;
}

.links {
	margin-top: 32px;
	text-align: center;
	line-height: 24px;
	max-width: 300px;
}

.links a { padding: 0 5px; }

a {	transition: color .25s ease;}
a:link {color: rgba(0, 0, 0, 1);}
a:visited {color: rgba(0, 0, 0, 1);} 
a:hover {color: rgba(0, 0, 0, .75);}
a:active {color: rgba(0, 0, 0, .75);}

.mainContent {
	margin-top: 32px;
	max-width: 600px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.textCenter {
	text-align: center;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

.underline {
	text-decoration: underline;
}

.content {
	padding: 16px;
}

.content section:not(:first-child) {
	margin-top: 16px;
}

.leftAd {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.rightAd {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: -1;
}

.bottomAd {
	margin-top: 64px;
	text-align: center;
	z-index: -1;
}