body  {
	background-color: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
}

.stats {
	text-align: center;
	width: 100%;
}

.links {
	text-align: right;
	line-height: 70px;
	max-width: 600px;
	font-size: 27px;
}

.links a { 
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 5px; 
}

a {	transition: color .25s ease;}
a:link {color: rgba(0, 0, 0, 1);}
a:visited {color: rgba(0, 0, 0, 1);} 
a:hover {color: rgba(0, 0, 0, .75);}
a:active {color: rgba(0, 0, 0, .75);}

.hero {
	background-image: url('../images/skyscraper.jpg');
	background-size: cover;
	color: white;
	font-weight: bold;
}

.heroContent {
	background-color:rgba(0, 0, 0, 0.26);
	padding: 16px;
}

.hero .money {
	font-size: 72px;
}

.hero .companyName {
	font-size: 27px;
}

.hero .info {
	font-size: 18px;
}

.mainContent {
	max-width: 616px;
	margin-top: 16px;
}

.opportunity {
	margin-top: 16px;
	padding: 0px 16px;

	min-width: 550px;
	font-size: 32px;
	color: black;
	background-color: white;
	line-height: 72px;
	height: 72px;
	display: inline-block;
	border-radius: 16px;
}

.opportunityHover {
	cursor: pointer;
}

.noSelect {
	/* Prevent double clicking the page or items or something from highlighting text */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.left {
	float: left;
}

.right {
	float: right;
}

.top {
	width: 100%;
	background-color: #FFFFFF;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.textCenter {
	text-align: center;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-family: Helvetica Bold, Arial Bold, sans-serif;
}

.content {
	padding: 16px;
}

.content section:not(:first-child) {
	margin-top: 16px;
}

.leftAd {
	position: absolute;
	left: 0px;
	top: 0px;
}

.rightAd {
	position: absolute;
	right: 0px;
	top: 0px;
}

.bottomAd {
	margin-top: 64px;
	text-align: center;
}

.updateText {
	height: 0px;
}