.messageBottom {
	position: fixed;
	bottom: 0;
	margin-bottom: 16px;
	width: 100%;
	text-align: center;

	font-weight: bold;
	font-size: 24px;
	color: #FFFFFF;

	text-shadow: 0 0 24px rgba(0,0,0,1);
}

.messageStart {
	transition: all 4s ease;
}

.messageEnd {
	padding-bottom: 32px;
	color: rgba(0, 0, 0, 0);

	text-shadow: 0 0 24px rgba(0,0,0,0);
}