.item  {
	min-height: 64px;
	padding: 15px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, .25);

	/* Transition between colors smoothly */
	transition: background-color 0.25s ease;

	/* Prevent double clicking the page or items or something from highlighting text */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.item.enabled {
	background-color: rgba(0, 255, 0, .25);
}

.item.disabled {
	background-color: rgba(128, 128, 128, .25);
}

.item.hover {
	background-color: rgba(255, 255, 0, .25);
	cursor: pointer;
}

.item.alreadyBought {
	background-color: rgba(0, 128, 0, .25);
}

.item .name {
	font-family: Segoe UI;
}

.item .info {
	font-size: 14px;
}

.item .description {
	font-size: 12px;
}

.store {
	float: left;
	width: 300px;
}

.upgrade {
	float: right;
	width: 300px;
}