.item  {
	margin-bottom: 8px;
	padding: 15px;

	border: 3px solid;
	border-color: #333333;
	color: #333333;

	/* Prevent double clicking the page or items or something from highlighting text */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.item:last-child {
	margin-bottom: none;
}

.item.enabled {
	background-color: white;
}

.item.disabled {
	color: #999999;
	background-color: white;
	border-color: #999999;
}

.item.alreadyBought {
	color: #999999;
	background-color: rgba(0, 255, 0, .1);
	border-color: #999999;
}

.item.hover {
	background-color: #333333;
	color: white;
	cursor: pointer;
}

.item .name {
	font-weight: bold;
	font-size: 16px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.item .info {
	font-size: 14px;
	color: #999999;
	display: inline-block;
}

.item .count {
	text-align: right;
	font-weight: bold;
	font-size: 32px;
	float: right;
}

.item .bottom {
	width: 100%;
	margin-top: 8px;
	margin-bottom: -8px;
	display: table;
}

.item .description {
	font-size: 12px;
}

.border {
	border: 3px solid;
	border-color: #333333;
}

.store {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.upgrade {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

@media screen and (min-width:650px) {
	.store, .upgrade {
		width: 300px;
		display: inline-block;
		vertical-align: top;
	}

	.achievementsContainer {
		width: 300px;
		display: inline-block;
		vertical-align: top;
		margin-left: -4px;
	}
}

.achievementsContainer {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.achievement {
	width: 64px;
	height: 64px;
	margin: 0 4px 4px 0;

	border: 3px solid;
	border-color: #333333;

	display: inline-block;
	position: relative;
}

.achievement img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}