<head>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/jquery-1.11.1.min.js"></script>
	<script src="scripts/angular-route.min.js"></script>
	<script src="scripts/idleGame.js"></script>
	<script src="scripts/gameLoop.js"></script>
	<script src="scripts/business.js"></script>
	<script src="scripts/menu.js"></script>
	<script src="scripts/stats.js"></script>
	<script src="scripts/message.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/store.css" />
	<link rel="stylesheet" type="text/css" href="css/message.css" />
	<title>Angular Idle Game</title>
</head>
<body>
	<div ng-app="idleGame">
		<div>

			<div class="top">
				<div class="stats" ng-controller="GameLoopController">
					<h1>{{getCompanyName()}}</h1>
					<h2>Total Money: {{getMoney() | currency}}</h2>
					<h3>Money/Second: {{getMps() | currency}}</h3>
					<h3>Money/Opportunity: {{getClickPower() | currency}}</h3>
					<div class="updateText"
						 ng-show="loadedVersion < currentVersion">
						<h2>NEW VERSION - REFRESH TO GET IT</h2>
					</div>
				</div>
				<div class="links textCenter center">
					<a href="#/business">Business</a>
					<a href="#/stats">Stats</a>
					<a href="#/menu">Menu</a>
				</div>

				<div ng-controller="BusinessController">
					<div class="opportunity center border">
						<div class="item"
							 ng-class="{enabled: true, hover: hoverButton}"
							 ng-init="generateOpportunities()"
							 ng-click="doBusiness(opportunity)"
							 ng-mouseenter="hoverButton = true"
							 ng-mouseleave="hoverButton = false">
							<p>{{opportunity}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="leftAd">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Idle Game Right Side -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:120px;height:600px"
				     data-ad-client="ca-pub-2046389339559087"
				     data-ad-slot="2827205531"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>

			<div class="mainContent center">
				<ng-view>Loading...</ng-view>
				 
				<script type="text/ng-template" id="business.html">

					<div class="store border">
						<div class="item" 
							 ng-class="{disabled: cantBuyStoreItem(item.id), enabled: !cantBuyStoreItem(item.id), hover: !cantBuyStoreItem(item.id) && hoverStore}" 
							 ng-repeat="item in items" 
							 ng-click="buyStoreItem($event, item.id)"
							 ng-mouseenter="hoverStore = true"
							 ng-mouseleave="hoverStore = false">
							<div class="left">
								<p class="name">{{item.name}}</p>
								<p class="info">Adds: {{getMps(item.id) | currency}}</p>
								<p class="info">Cost: {{currentPrice(item.id) | currency}}</p>
							</div>
							<div class="right">
								<h1>{{getCount(item.id)}}</h1>
							</div>
						</div>
					</div>

					<div class="upgrade border">
						<div class="item"
							 ng-class="{disabled: cantBuyUpgrade(upgrade.id), enabled: !cantBuyUpgrade(upgrade.id), hover: !cantBuyUpgrade(upgrade.id) && hoverUpgrade, alreadyBought: alreadyBought(upgrade.id)}" 
							 ng-repeat="upgrade in upgrades"
							 ng-click="buyUpgrade(upgrade.id)"
							 ng-mouseenter="hoverUpgrade = true"
							 ng-mouseleave="hoverUpgrade = false"
							 ng-show="canShowUpgrade(upgrade)">
							<p class="name">{{upgrade.name}}</p>
							<p class="info">Cost: {{upgrade.price | currency}}</p>
							<p class="info"
							   ng-show="!upgrade.isBusiness">
								Adds: {{upgrade.mps | currency}}
							</p>
							<p class="info"
							   ng-show="upgrade.isOpportunity && upgrade.mpo">
								Adds: {{upgrade.mpo | currency}}/Opportunity
							</p>
							<p class="info"
							   ng-show="upgrade.isOpportunity && upgrade.mpop">
								Adds: {{upgrade.mpop * 100}}% of MPS/Opportunity
							</p>
							<p class="info"
							   ng-show="upgrade.isOnLoad">
								Adds: {{upgrade.per * 100}}% of MPS
							</p>
							<p class="info"
							   ng-show="upgrade.isAchievement">
								Adds: {{upgrade.per * 100 | number:2}}%/Achievement
							</p>
							<p class="info">For: <span class="underline">{{getItemName(upgrade.itemId)}}</span></p>
							<br />
							<p class="description">{{upgrade.description}}</p>
						</div>
					</div>

				</script>

				<script type="text/ng-template" id="stats.html">
					<div class="stats border" ng-controller="StatsController">
						<div class="item enabled">
							<p class="name">Total Money Earned</p>
							<p class="info">{{playerService.totalMoney | currency}}</p>
						</div>
						<div class="item enabled">
							<p class="name">Total Business Opportunties</p>
							<p class="info">Opportunities: {{playerService.totalOpportunities}}</p>
							<p class="info">Total Earned: {{playerService.totalMoneyFromOpportunties | currency}}</p>
							<p class="info">Current Per Opportunity: {{cacheService.clickPower() | currency}}</p>
						</div>
						<div class="item enabled">
							<p class="name">Buildings Bought</p>
							<p class="info">{{totalBuildings}}</p>
						</div>
						<div class="item enabled">
							<p class="name">Upgrades Bought</p>
							<p class="info">{{totalUpgrades}} / {{possibleUpgrades}}</p>
						</div>
						<div class="item enabled">
							<p class="name">Achievements Earned</p>
							<p class="info">{{totalAchievements}} / {{possibleAchievements}}</p>
						</div>

						<div class="item"
							 ng-repeat="achievement in achievements"
							 ng-class="{enabled: hasEarned(achievement.id), disabled: !hasEarned(achievement.id)}">
							<p class="name">{{achievement.name}}</p>
							<p class="info">{{achievement.description}}</p>
						</div>
					</div>
				</script>
				
				<script type="text/ng-template" id="menu.html">
					<div class="content center border">
						<section>
							<p>Set the name of your new corporation!</p>
							<input type="text" ng-model="playerService.companyName" />
						</section>
						<section>
							<p>FPS - Higher numbers will make the game smoother but may lag older systems.</p>
							<input type="number" ng-model="playerService.fps" min="1" max="1000" step="any" />
						</section>
						<section>
							<p>Hide upgrades you already bought:</p>
							<input type="checkbox" ng-model="playerService.hideBoughtUpgrades" />
						</section>
						<section>
							<p>The game auto-saves every 30 seconds, but in case you are in a hurry, use this:</p>
							<button ng-click="saveGame()">Save Game</button>
						</section>
						<section>
							<p>This will hard reset your game (refresh after you press it):</p>
							<button ng-click="resetGame()">Reset Game</button>
						</section>

						<section><h2 class="underline">About</h2></section>
						<section>
							<p class="info">
								Hi, my name is <a href='https://www.linkedin.com/profile/view?id=150901976' target='_blank'>Eric</a> and I made this <a href='http://orteil.dashnet.org/cookieclicker/'>Cookie Clicker</a> clone.
								It is <a href = 'https://github.com/EricFreeman/AngularIdleGame' target='_blank'>open source</a> so feel free to fork it, submit some pull requests, create issues, or none of the above.
								If you want to send me suggestions, fan mail, hate mail, spam mail, or all of the above, use <a href="mailto:eric@giantshaft.com">eric@giantshaft.com</a>.
							</p>
						</section>
						<section><h2 class="underline">Tips</h2></section>
						<section>
							<p class="name">Shift + Click to buy 10 items at once.</p>
							<p class="name">Shift + Alt to buy 100 items at once.</p>
						</section>
						<section><h2 class="underline">Updates</h2></section>
						<section ng-repeat="update in updates">
							<p class="name">{{update.title}}</p>
							<p class="info">{{update.description}}</p>
						</section>
					</div>
				</script>
			</div>
			<div class="rightAd">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Idle Game Right Side -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:120px;height:600px"
				     data-ad-client="ca-pub-2046389339559087"
				     data-ad-slot="2827205531"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div class="bottomAd center">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Idle Game Bottom Skinnier -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:468px;height:60px"
				     data-ad-client="ca-pub-2046389339559087"
				     data-ad-slot="1071270732"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div ng-controller="MessageController">
				<div ng-repeat="message in messages"
					 class="messageStart messageBottom center">
					<p>{{message.text}}</p>
				</div>
			</div>
		</div>
	</div>
</body>