<head>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/jquery-1.11.1.min.js"></script>
	<script src="scripts/angular-route.min.js"></script>
	<script src="scripts/idleGame.js"></script>
	<script src="scripts/gameLoop.js"></script>
	<script src="scripts/store.js"></script>
	<script src="scripts/stats.js"></script>
	<script src="scripts/menu.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
	<div ng-app="idleGame">
		<div>
			<div class="stats" ng-controller="GameLoopController">
				<h2>Total Money: {{getMoney() | currency}}</h2>
				<h3>Money/Second: {{getMps() | currency}}</h3>
			</div>
			<div class="links">
				<a href="#/store">Store</a>
				<a href="#/stats">Stats</a>
				<a href="#/menu">Menu</a>
			</div>
			<div class="mainContent">
				<ng-view>Loading...</ng-view>
				
				<script type="text/ng-template" id="store.html">
					<div class="item" 
						 ng-class="{disabled: cantBuy(item.id), enabled: !cantBuy(item.id)}" 
						 ng-repeat="item in items" 
						 ng-click="buy(item.id)">
						<span>{{item.name}}</span>
						<span>{{item.count}}</span> <br />
						<span>{{currentPrice(item.id) | currency}}</span>
					</div>
				</script>
				
				<script type="text/ng-template" id="stats.html">
					<!-- Store -->
					Stats
				</script>
				
				<script type="text/ng-template" id="menu.html">
					<!-- Store -->
					Menu
				</script>
			</div>
		</div>
	</div>
</body>